[MASTER]

ignore=tests

[MESSAGE CONTROL]

disable=raw-checker-failed,
        useless-suppression,
        use-symbolic-message-instead,
        broad-exception-caught,
        too-few-public-methods,
        consider-using-enumerate


[FORMAT]
max-line-length = 95

[DESIGN]
max-branches = 15
max-locals = 10
max-args = 10
