[MASTER]

ignore=tests

[MESSAGE CONTROL]

disable=raw-checker-failed,
        useless-suppression,
        use-symbolic-message-instead,
        broad-exception-caught,
        too-few-public-methods,
        consider-using-enumerate,
        no-else-return


[FORMAT]
max-line-length = 100

[DESIGN]
max-branches = 15
max-locals = 15
max-args = 10
